- if question.files.attached?
  - question.files.each do |file|
    p= link_to file.filename.to_s, url_for(file)
    p= link_to t('files.destroy.delete'), file_path(file, question_id: question.id), method: :delete, remote: true