<div id="comment_id_{{comment.id}}" class="content-align-between">
  <div class="comment-body">
    {{comment.body}}
  </div>
  <div class="comment-author">
    by:
    {{author.email}}
  </div>
  <hr />
</div>